---
title: mikeastock.com
---

<div class="hero-image">
  <%= image_tag "me.jpeg" %>
</div>

<h1>Mike Stock II</h1>

<p>
  This is some boring information about me.
  <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
</p>
