---
title: mikeastock.com
---

<div class="hero-image">
  <%= image_tag "me.jpeg" %>
</div>

<div class="hero-header">
  <h1>Mike Stock II</h1>
</div>

<p>Ruby. Elixir. Swift. Developer building awesome stuff at @procoretech</p>

<p class="social">
  <%= link_to("Github", "https://github.com/mikeastock") %>
  <%= link_to("Twitter", "https://twitter.com/mikeastock") %>
  <%= link_to("LinkedIn", "https://www.linkedin.com/in/michael-stock-ii-b7159263") %>
</p>
