---
title: mikeastock.com
---

<h1>Mike | Stock</h1>

<p>Ruby. Elixir. Swift. Developer building awesome stuff at @procore</p>

<p class="social">
  <%= link_to("Github", "https://github.com/mikeastock") %>
  <%= link_to("Twitter", "https://twitter.com/mikeastock") %>
  <%= link_to("LinkedIn", "https://www.linkedin.com/in/michael-stock-ii-b7159263") %>
</p>
