---
title: mikeastock.com
---

<div class="hero-image">
  <%= image_tag "me.jpeg" %>
</div>

<div class="hero-header">
  <h1>Mike Stock II</h1>
</div>

<p>Ruby. Elixir. Swift. Developer building awesome stuff at @procoretech</p>
